.cache

cscope.out
filenametags
tags

*.crf
*.axf
*.bak
*.bin
*.d
*.ddk
*.dep   
*.edk
*.hex
*.htm
*.iex
*.lst
*.lnp
*.map
*.mpf
*.mpj
*.m51
*.obj
*.o
*.omf
*.plg
*.rpt
*.sct
*.SBR
*.SRC
*.tmp
*.tra
*.__i      
*._ia       
*.ls1 

*.uvgui.*
*.uvguix.*